<!DOCTYPE html>
<html lang="en">
    <head>
        <title>one thing</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/onething.css" />
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <div class="inner-container">
                    <div class="opening">
                        <p>Your time is valuable.</p>
                        <p> If you're going to read one thing today it should be:</p>
                    </div>
                    <div class="thing">
                        <p><a href="{{url}}">{{title}}</a></p>
                    </div>
                    <div class="context">
                        <p>chosen by <em>{{contributor}}</em></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="information container-fluid gradient">
            <p class="slow-web">part of the <a href="http://theslowweb.com/">slow web</a> movement.</p>
        </div>
    </body>
</html>
